<% #coding:utf-8 %>
<% require 'rubygems' %>
<% require 'dbi' %>

<% dbh = DBI.connect('DBI:SQLite3:box_pokemon.db') %> 
<% sth = dbh.execute("select * from pokemon where id='#{target_id}'") %> <!--ミスあるかも-->
<% wz  = dbh.execute("select * from waza") %>
<% wz_2  = dbh.execute("select * from waza") %>
<% wz_3  = dbh.execute("select * from waza") %>
<% wz_4  = dbh.execute("select * from waza") %>
<% itm = dbh.execute("select * from item") %>
<% sik = dbh.execute("select * from seikaku") %>

    <html lang='en'>
        <head>
            <meta charset='utf-8'/>
            <link rel="stylesheet" type="text/css" href="default.css">
            <script type="text/javascript" src="botan.js"></script>
            <title>list</title>
        </head>
        <body>
            <h1>ポケモン管理</<h1> <!--題-->
            <h2>ポケモンのデータの修正</h2>
            <p>修正する内容を書き込んでください|<a href="entry.erb">ポケモンの登録</a>|<a href="serch.erb">ポケモンの検索</a>|<a href="entrance.html">メニューに戻る</a>|</p>
            <hr>
            <!-- entryというのアドレスではないアドレスならentry.erbになるよってここではactionの名前という役割 -->
            <form method="post" action="edit">
                <% sth.each do |row| %>
                <% pkm = dbh.execute("select * from pokemon_S where id='#{row[14]}'") %>
                <%pkm.each do |pow|%>
                <!-- inputのtypeは入力型のことでnameは入力されたものについている変数名これを後で使う -->
                    <table>
                        <tr><th>項目</th><th>入力フォーム</th></tr>        
                        <tr><td>ID</td><td><input type="number" name="id" min="0" value=<%= "#{row[0]}" %>></td></tr>
                        <!-- 変更前のIDを保存しておく -->
                        <input type="hidden" name="id_b"  value=<%= "#{row[0]}" %>>
                        <input type="hidden"  name="pokemon_id" value=<%="#{row[14]}"%>> 
                        <tr><td>ニックネーム</td><td><input type="text" name="name" value=<%= "#{row[1]}" %>></td></tr>
                        <tr><td>ポケモン名</td>
                            <td><%= "#{pow[3]}"%></td>   
                        </tr>

                        <tr><td>特性</td>
                        <td>
                            <select name="tokusei">
                            <option value=<%="#{pow[4]}"%>><%= "#{pow[4]}" %></option>
                            <option value=<%="#{pow[5]}"%>><%= "#{pow[5]}" %></option>
                            <option value=<%="#{pow[6]}"%>><%= "#{pow[6]}" %></option>
                            </select>
                        </td>
                        
                        </tr>
                        <tr><td>HPの個体値</td><td><input type="number" name="k_hp" id="k_hp" min="0" max="31" value=<%= "#{row[2]}" %>></td>
                        <td><input type="button" class="button" value="31" onclick="setvalue('k_hp', 31)"><input type="button" class="button" value="0" onclick="setvalue('k_hp', 0)"></td>
                        </tr><tr><td>攻撃の個体値</td><td><input type="number" name="k_atk" id="k_atk" min="0" max="31" value=<%= "#{row[3]}" %>></td>
                        <td><input type="button" class="button" value="31" onclick="setvalue('k_atk', 31)"><input type="button" class="button" value="0" onclick="setvalue('k_atk', 0)"></td>
                        </tr><tr><td>防御の個体値</td><td><input type="number" name="k_def" id="k_def" min="0" max="31" value=<%= "#{row[4]}" %>></td>
                        <td><input type="button" class="button" value="31" onclick="setvalue('k_def', 31)"><input type="button" class="button" value="0" onclick="setvalue('k_def', 0)"></td>
                        </tr><tr><td>特攻の個体値</td><td><input type="number" name="k_catk" id="k_catk" min="0" max="31" value=<%= "#{row[5]}" %>></td>
                        <td><input type="button" class="button" value="31" onclick="setvalue('k_catk', 31)"><input type="button" class="button" value="0" onclick="setvalue('k_catk', 0)"></td>
                        </tr><tr><td>特防の個体値</td><td><input type="number" name="k_cdef" id="k_cdef" min="0" max="31" value=<%= "#{row[6]}" %>></td>
                        <td><input type="button" class="button" value="31" onclick="setvalue('k_cdef', 31)"><input type="button" class="button" value="0" onclick="setvalue('k_cdef', 0)"></td>
                        </tr><tr><td>素早さの個体値</td><td><input type="number" name="k_sp" id="k_sp" min="0" max="31" value=<%= "#{row[7]}" %>></td>
                        <td><input type="button" class="button" value="31" onclick="setvalue('k_sp', 31)"><input type="button" class="button" value="0" onclick="setvalue('k_sp', 0)"></td>
                        </tr><tr><td>HPの努力値</td><td><input type="number" name="d_hp" id="d_hp" min="0" max="252" step="4" value=<%= "#{row[8]}" %>></td>
                        <td><input type="button" class="button" value="252" onclick="setvalue('d_hp', 252)"><input type="button" class="button" value="0" onclick="setvalue('d_hp', 0)"></td>
                        </tr><tr><td>攻撃の努力値</td><td><input type="number" name="d_atk" id="d_atk" min="0" max="252" step="4" value=<%= "#{row[9]}" %>></td>
                        <td><input type="button" class="button" value="252" onclick="setvalue('d_atk', 252)"><input type="button" class="button" value="0" onclick="setvalue('d_atk', 0)"></td>
                        </tr><><td>防御の努力値</td><td><input type="number" name="d_def" id="d_def" min="0" max="252" step="4" value=<%= "#{row[10]}" %>></td>
                        <td><input type="button" class="button" value="252" onclick="setvalue('d_def', 252)"><input type="button" class="button" value="0" onclick="setvalue('d_def', 0)"></td></tr>
                        </tr><><td>特攻の努力値</td><td><input type="number" name="d_catk"  id="d_catk" min="0" max="252" step="4" value=<%= "#{row[11]}" %>></td>
                        <td><input type="button" class="button" value="252" onclick="setvalue('d_catk', 252)"><input type="button" class="button" value="0" onclick="setvalue('d_catk', 0)"></td></tr>
                        </tr><><td>特防の努力値</td><td><input type="number" name="d_cdef" id="d_cdef" min="0" max="252" step="4" value=<%= "#{row[12]}" %>></td>
                        <td><input type="button" class="button" value="252" onclick="setvalue('d_cdef', 252)"><input type="button" class="button" value="0" onclick="setvalue('d_cdef', 0)"></td></tr>
                        </tr><><td>素早さの努力値</td><td><input type="number" name="d_sp" id="d_sp" min="0" max="252" step="4" value=<%= "#{row[13]}" %>></td>
                        <td><input type="button" class="button" value="252" onclick="setvalue('d_sp', 252)"><input type="button" class="button" value="0" onclick="setvalue('d_sp', 0)"></td></tr>
                        </tr><tr><td>ワザ１</td>
                        <td>
                            <select name="waza_id_1">
                            <% wz.each do |wow_1| %>
                                <% if  "#{row[15]}" == "#{wow_1[0]}" %>
                                    <option value=<%="#{wow_1[0]}"%> selected="selected"><%= "#{wow_1[2]}" %></option>
                                <% else %>
                                    <option value=<%="#{wow_1[0]}"%>><%= "#{wow_1[2]}" %></option> 
                                <% end %>    
                            <% end %>
                            </select>
                        </td>
                        </tr>
                        <tr><td>ワザ２</td>
                        <td>
                            <select name="waza_id_2">
                            <% wz_2.each do |wow_2| %>

                                <% if  "#{row[16]}" == "#{wow_2[0]}" %>
                                    <option value=<%="#{wow_2[0]}"%> selected="selected"><%= "#{wow_2[2]}" %></option>
                                <% else %>
                                    <option value=<%="#{wow_2[0]}"%>><%= "#{wow_2[2]}" %></option> 
                                <% end %>    
                            
                            <% end %>
                            </select>
                        </td>
                        </tr>
                        <tr><td>ワザ３</td>
                        <td>
                            <select name="waza_id_3">
                            <% wz_3.each do |wow_3| %>

                                <% if  "#{row[17]}" == "#{wow_3[0]}" %>
                                    <option value=<%="#{wow_3[0]}"%> selected="selected"><%= "#{wow_3[2]}" %></option>
                                <% else %>
                                    <option value=<%="#{wow_3[0]}"%>><%= "#{wow_3[2]}" %></option> 
                                <% end %>    
                            
                            <% end %>
                            </select>
                        </td>
                        </tr>
                        <tr><td>ワザ４</td>
                        <td>
                            <select name="waza_id_4">
                            <% wz_4.each do |wow_4| %>

                                <% if  "#{row[18]}" == "#{wow_4[0]}" %>
                                    <option value=<%="#{wow_4[0]}"%> selected="selected"><%= "#{wow_4[2]}" %></option>
                                <% else %>
                                    <option value=<%="#{wow_4[0]}"%>><%= "#{wow_4[2]}" %></option> 
                                <% end %>    
                            
                            <% end %>
                            </select>
                        </td>
                        </tr>
                        <tr><td>アイテム</td>
                        <td>
                            <select name="item_id">
                            <% itm.each do |iow| %>
                                <% if  "#{row[19]}" == "#{iow[0]}" %>
                                    <option value=<%="#{iow[0]}"%> selected="selected"><%= "#{iow[1]}" %></option>
                                <% else %>
                                    <option value=<%="#{iow[0]}"%>><%= "#{iow[1]}" %></option>
                                <% end %>
                            <% end %>
                            </select>
                        </td>
                        </tr>
                        <tr><td>性格</td>
                        <td>
                            <select name="seikaku_id">
                            <% sik.each do |sow| %>
                                <% if  "#{row[20]}" == "#{sow[0]}" %>
                                    <option value=<%="#{sow[0]}"%> selected="selected"><%= "#{sow[1]}" %></option>
                                <% else %>
                                    <option value=<%="#{sow[0]}"%>><%= "#{sow[1]}" %></option>
                                 <% end %>
                            <% end %>
                            </select>
                        </td>
                        </tr>
                    </table>
                    <p><input type="submit" value="修正"></p>
                    <%end%>
                    <% pkm.finish%>
                <%end%>
            </form>
            <hr><!-- 横棒 -->
        </body>
    </html>

<% sth.finish %>
<% wz.finish%>
<% wz_2.finish%>
<% wz_3.finish%>
<% wz_4.finish%>
<% itm.finish%>
<% sik.finish%>



<% dbh.disconnect %>